

table.failed {
    border-collapse:collapse;
    width:95%;
    max-width:2000px;
    min-width:400px;
    text-align:left;
    margin-left: 30px;
}

table.passed {
    border-collapse:collapse;
    width:95%;
    max-width:2000px;
    min-width:400px;
    text-align:left;
    margin-left: 30px;
}

caption {
    caption-side:top;
    font-weight:bold;
    font-style:normal;
    margin:4px;
}

table.failed,th.failed,td.failed {
    border: 1px solid gray;
}

table.passed,th.passed,td.passed {
    border: 1px solid gray;
}

th.failed, td.failed {
    height: 24px;
    padding:4px;
    vertical-align:middle;
}

th.passed, td.passed {
    height: 24px;
    padding:4px;
    vertical-align:middle;
}

th.failed {
    background-color:#FF0000;
    color: white;
}

th.passed {
    background-color:#4CAF50;
    color: white;
}

.rowtitle {
    font-weight:bold;
}