<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<script>
    function colourize() {
      var dnl = document.getElementsByTagName("tr");
      for(i = 0; i < dnl.length; i++) {
        if((Math.round(i / 2) * 2) == ((i / 2) * 2) )
        dnl.item(i).style.background="#F0F0F0";
      }
    }
    window.onload = colourize;
</script>

<table class="failed">

<thead>
  <caption>Failed (FAILED_COUNT)</caption>
</thead>

<tbody>
  <tr>
    <th class="failed">Primitive</th><th class="failed">Team</th><th class="failed">Failure Reason</th><th class="failed">Issue Link</th>
  </tr>
FAILED_ROWS
</tbody>
</table>

<br><br><br><br><br>

<table class="passed">

<thead>
  <caption>Passed (PASSED_COUNT)</caption>
</thead>

<tbody>
  <tr>
    <th class="passed">Primitive</th><th class="passed">Team</th>
  </tr>
PASSED_ROWS
</tbody>
</table>

</body>